**Data Types and Structures Questions**

1.What are data structures, and why are they important?

  ->Data structures are fundamental in computer science, defining how data is organized and stored for efficient use. They are essentially specialized formats that manage data, making it easier for users and systems to understand, work with, and store information. They are important because they enable efficient data manipulation, improve code organization, and enhance application performance.

2. Explain the difference between mutable and immutable data types with examples?

  ->Mutable Data Types:

  Mutable data types allow their values to be changed after they have been created.

  ex:-

Lists: Lists are ordered collections that can be modified by adding or removing elements, or by changing the value of existing elements.
Dictionaries: Dictionaries store key-value pairs, and both keys and values can be added, updated, or deleted.
Sets: Sets are unordered collections of unique elements, and elements can be added or removed.

Immutable Data Types:

Definition: Immutable data types cannot be changed after their creation.

Ex:-

Strings: Strings are sequences of characters that cannot be modified once created.
Tuples: Tuples are ordered collections of elements that are enclosed in parentheses. Unlike lists, tuples cannot be modified after creation.
Integers, Floats, and Booleans: These are primitive data types that store values and cannot be changed.

3.What are the main differences between lists and tuples in Python?

  ->list
  1.Lists are mutable(can be modified).
  2.Iteration over lists is time-consuming.
  3.Lists consume more memory.
  4.Lists have several built-in methods.
  
  tuples
  1.Lists have several built-in methods.
  2.Iterations over tuple is faster
  3.Tuples consumes less memory.
  4.Tuples have fewer built-in methods.

4.Describe how dictionaries store data?

  ->Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format.

5.Why might you use a set instead of a list in Python?

  ->Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6.What is a string in Python, and how is it different from a list?

  ->A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc)

7.How do tuples ensure data integrity in Python?

  ->Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability

8.What is a hash table, and how does it relate to dictionaries in Python?

  ->In Python, the Dictionary data types represent the implementation of hash tables.

9.Can lists contain different data types in Python?

  ->Yes list can contain all different data type.

10.Explain why strings are immutable in Python?

  ->Strings are "immutable" which means they cannot be changed after they are created. Since strings can't be changed, we construct *new* strings as we go to represent computed values.

11.What advantages do dictionaries offer over lists for certain tasks?

  ->The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary. If the data your trying to store is identifiable so the data can be attributed to name name or item this might be a preferable system.

12.Describe a scenario where using a tuple would be preferable over a list.

  ->Use a tuple if you need an immutable collection where the elements won't change after creation.

13.How do sets handle duplicate values in Python?

  ->Duplicate items are not allowed.

14.How does the “in” keyword work differently for lists and dictionaries?

  ->lists:
  
         for list, in checks if a value is present im list.

    ex:- my_list =[1, 2, 3]
        print(3 in my_list) # True
        print(5 in my_list) # False

    dictionaries:
             
              for dictionaries, in checks if a key is present in the dictionary.

    ex:- my_dict = {'a': 1, 'b': 2, 'c': 3}
         print('a' in my_dict)  #True
         print('d' in my_dict)  #False

15.Can you modify the elements of a tuple? Explain why or why not.

  ->No, you cannot directly modify the elements of a tuple in Python.

16.What is a nested dictionary, and give an example of its use case?

  ->A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows you to create complex, hierarchical data structures.

  ex:-

# Creating a Nested Dictionary
Dict = {1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

17.Describe the time complexity of accessing elements in a dictionary?

  ->Accessing Elements by Key (O(1))

The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

18.In what situations are lists preferred over dictionaries?

  ->Lists are faster for index-based access.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

  ->Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. dictionaries are un-ordered because Python dictionaries are not intended to be in order

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  ->ists are ordered collections of elements, accessed by their index, while dictionaries are unordered collections of key-value pairs, accessed by their keys.

**Practical Questions**

1.Write a code to create a string with your name and print it.

In [2]:
# Create a string with your name
my_name = "prince"

# Print the string
print("My name is:", my_name)

My name is: prince

2.Write a code to find the length of the string "Hello World".

In [5]:
# Define the string
my_string = "Hello World"

# Find the length using len()
len(my_string)

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [6]:
# Define the string
text = "Python Programming"

first_three = text[:3]
print("First 3 characters:", first_three)

First 3 characters: Pyt

4.Write a code to convert the string "hello" to uppercase.

In [7]:
text = "hello"

uppercase_text = text.upper()
print("Uppercase:", uppercase_text)

Uppercase: HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
text = "I like apple"
updated_text = text.replace("apple", "orange")
print("Updated string:", updated_text)

Updated string: I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [10]:
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [20]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [21]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("The second element is:", second_element)

The second element is: b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [22]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print("Reversed list:", reversed_numbers)

Reversed list: [50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [23]:
my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [24]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print("The second-to-last element is:", second_to_last)

The second-to-last element is: blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [25]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("The minimum number is:", min_number)

The minimum number is: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [27]:
fruits = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [28]:
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'a', 'b', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [29]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [30]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [31]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [32]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [34]:
person = {
    "name": "PRINCE",
    "age": 24,
    "city": "SIWAN"
}
print("Dictionary:", person)

Dictionary: {'name': 'PRINCE', 'age': 24, 'city': 'SIWAN'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [35]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [38]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [39]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [40]:

my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [41]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [40, 49, 73, 73, 95]

28.Write a code to create a list with strings and print the element at the third index.

In [42]:

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']


print("Element at the third index:", my_list[3])

Element at the third index: date

29.Write a code to combine two dictionaries into one and print the result.

In [43]:

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'job': 'Engineer'}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

30.Write a code to convert a list of strings into a set.

In [44]:
string_list = ['apple', 'banana', 'cherry', 'apple', 'orange']
string_set = set(string_list)
print("Set:", string_set)

Set: {'cherry', 'apple', 'orange', 'banana'}